.header {
    top: 64px;
    position: sticky;
  width: 100%;
  z-index: 2;
  background-color: #FBFCFD;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  .header-div{
    width: 70%;
    h1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
        font-size: 3rem;
        font-weight: 400;
        color: #2c384a;
    }
    .show-update-date-div {
        height: 43px;
        border-top: 2px solid #e1e4e6;
        border-bottom: 2px solid #e1e4e6;
        display: flex;
        color: #4b5665;
        align-items: center;
        justify-content: space-between;
        font-size: 0.875rem;
        .first-div-of-show-update-date-div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 18px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                img{
                    width: 20px;
                }
            }
        }
        .second-div-of-show-update-date-div {
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 24px;
            }
        }
    }
    .more-categories-div {
        height: 61px;
    color: #4b5665;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 12px;
        padding: 9px 21px 9px 21px;
    }
}
.path-name-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    color: #5c6874;
    font-size: 1rem;
    height: 25px;
    span {
        img{
            width: 14px;
        }
    }
}
}
}
