.navbar {
  z-index: 2;
  position: sticky;
  top: 0%;
  width: 100%;
  min-height: 64px;
  background-color: #212731;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-div {
    width: 70%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7%;
    .input {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 270px;
      border-radius: 8px;
      background-color: white;
      img {
        width: 24px;
      }
      input {
        font-weight: 400;
        font-size: 1rem;
        border-radius: 8px;
        width: 88%;
        min-height: 38px;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    span {
      font-weight: 400;
      color: #d1d6da;
      font-size: 1rem;
    }
    .todays-deals-span {
      margin-right: 7%;
    }
  }
}
