.related-deals-div {
  margin-top: 61px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  h2 {
    width: 70%;
    font-weight: 400;
    font-size: 2rem;
    color: #2c384a;
  }
  .related-contents-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .related-content {
      font-weight: 400;
      height: 430px;
      min-width: 340px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border-radius: 12px;
      gap: 12px;
      img {
        width: 160px;
        margin-bottom: 43px;
      }
      .offer-div {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
        span {
          font-size: 0.875rem;
          border-radius: 8px;
          background-color: #f2f4f7;
          padding: 7px 16px 7px 7px;
          color: #074786;
          font-weight: 400;
        }
      }
      span {
        font-size: 1rem;
        color: #626e79;
        font-weight: bold;
      }
      p {
        width: 90%;
        font-size: 1rem;
        color: #626e79;
      }
      .rate-div {
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 16px;
        :first-child {
          font-weight: 400;
          font-size: 1.25rem;
          color: #5c6874;
        }
        :nth-child(2) {
          font-size: 0.875rem;
          font-weight: 400;
          color: #9fa9b3;
        }
        :last-child {
          font-size: 0.875rem;
          font-weight: 400;
          color: #ef4c5d;
        }
      }

      button {
        background-color: #1b88f4;
        width: 90%;
        font-size: 1rem;
        border-radius: 12px;
        color: white;
        height: 43px;
        border: none;
        margin-bottom: 16px;
      }
    }
  }
  .signup-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    h3 {
      color: #5c6874;
      font-size: 2rem;
      font-weight: 400;
      width: 43%;
    }
    .signup-input-div {
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
      input {
        padding: 0 7px;
        width: 340px;
        height: 43px;
        border-radius: 12px 0 0 12px;
        background-color: white;
        border: none;
        &:focus {
          outline: none;
        }
        font-size: 1rem;
      }
      button {
        width: 92px;
        height: 43px;
        border-radius: 0 12px 12px 0;
        background: #1b88f4;
        color: white;
        font-size: 1rem;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .related-deals-div {
    h2 {
      width: 80%;
    }
    .related-contents-div {
      width: 80%;
    }
    .signup-div {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1102px) {
  .related-deals-div {
    h2 {
      width: 90%;
    }
    .related-contents-div {
      width: 90%;
    }
    .signup-div {
      width: 90%;
    }
  }
}

@media screen and (max-width: 889px) {
  .related-deals-div {
    .signup-div {
      h3 {
        width: 52%;
      }
      .signup-input-div {
        input {
          width: 290px;
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .related-deals-div {
    margin-top: 52px;
    h2 {
      font-size: 1.5rem;
    }
    .related-contents-div {
      .related-content {
        height: 380px;
        min-width: 290px;
        img {
          width: 120px;
          margin-bottom: 43px;
        }
        .offer-div {
          span {
            font-size: 10px;
          }
        }
        span {
          font-size: 12px;
        }
        p {
          font-size: 12px;
        }
        .rate-div {
          :first-child {
            font-size: 16px;
          }
          :nth-child(2) {
            font-size: 10px;
          }
          :last-child {
            font-size: 10px;
          }
        }

        button {
          font-size: 12px;
        }
      }
    }
    .signup-div {
      h3 {
        font-size: 1.5rem;
      }
      .signup-input-div {
        input {
          font-size: 12px;
        }
        button {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 711px) {
  .related-deals-div {
    .signup-div {
      flex-direction: column;
      gap: 25px;
      h3 {
        text-align: center;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 493px) {
  .related-deals-div {
    h2 {
      font-size: 1.25rem;
    }
    .signup-div {
      h3 {
        font-size: 1.25rem;
      }
    }
  }
}
@media screen and (max-width: 405px) {
  .related-deals-div {
    margin-top: 52px;
    h2 {
      font-size: 1rem;
    }
    .related-contents-div {
      .related-content {
        height: 330px;
        min-width: 270px;

        button {
          height: 34px;
          font-size: 12px;
        }
      }
    }
    .signup-div {
      h3 {
        font-size: 1rem;
      }
      .signup-input-div {
        input {
          width: 250px;
          height: 43px;
        }
        button {
          height: 43px;
        }
      }
    }
  }
}
